h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  font-family: inherit;
  outline: transparent;
  background-color: transparent;
}

html {
  ::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-accent);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(121, 129, 219);
    border-radius: 4px;
  }
  @media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
      width: 10px;
    }
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  background-color: var(--color-white-background);

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;

  &.modal-show {
    overflow: hidden;
    padding-right: 5px;
  }

  @media screen and (min-width: 768px) {
    &.modal-show {
      padding-right: 10px;
    }
  }
}
