.customers-list {
  display: flex;
}

.customers-item {
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid var(--color-subtle-text);
  border-radius: 4px;
  color: var(--color-subtle-text);
  transition: border-color var(--transition-time) var(--transition-func),
    color var(--transition-time) var(--transition-func);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-pressed-state);
  color: var(--color-pressed-state);
}

.customers-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .customers-list {
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .customers-item {
    width: 168px;
  }
}
